<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/images/favicon.jpg" type="image/png">
  <link rel="stylesheet" href="/styles/styles.css">
  <link rel="stylesheet" href="/styles/articulo.css">
  <link rel="stylesheet" href="/styles/header.css">
  <script src="https://kit.fontawesome.com/a4c24707d1.js" crossorigin="anonymous"></script>
  <title>KEY TO DREAM</title>
</head>

<body>
  <header>
    <a href="/"><img class="header-logo-top-icon" src="/images/favicon.jpg"></a>
    <h2 class="header-logo-top-name">KEY TO DREAM</h2>
    <div class="left-header">
      <i class="fa-solid fa-bars"></i>
      <h3><a href="/">INICIO</a></h3>
      <h3 class="alquilar-h3"><a href="/alquilar" style="text-decoration: none; color: inherit;">ALQUILAR</a></h3>
      <h3 class="comprar-h3"><a href="/comprar" style="text-decoration: none; color: inherit;">COMPRAR</a></h3>
      <h3 class="masfiltros-button masfiltros-button-index">MÁS FILTROS<i class="fa-solid fa-angle-down"></i></h3>
      <a href="/?map=open" class="vermapa-button vermapa-button-articulo">VER MAPA</a>
    </div>

    <div class="right-header">
      <h3>
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="search" placeholder="Ciudad" class="header-buscar header-buscar-alquilarComprar"></input>
      </h3>
      <h3>
        <i class="fa-solid fa-location-dot"></i>
        <input type="text" placeholder="Usá tu dirección y encontrá rapidamente" class="header-ubicacion"></input>
      </h3>
      <%- include('Templates/userHeader') %>
        <h3><a href="/favoritos"><i class="fa-solid fa-heart"></i></a></h3>

    </div>
  </header>

  <main>
    <div class="article-img-box">
      <img src="<%= propiedad.principalImage %>" alt="Imagen principal">
      <!-- Mostrar imágenes secundarias -->
      <% propiedad.secondaryImages.forEach(image=> { %>
        <img class="article-img2" src="<%= image %>" alt="Imagen secundaria">
        <% }) %>
    </div>

    <div class="description-box">
      <div class="description-left-box">
        <p class="articulo-precio-box">USD $<%= propiedad.price.toLocaleString('en-US') %><span
              class="articulo-propiedad-type-deco">
              <%= propiedades_type_invertido[propiedad.type] %>
            </span></p>
        <h4>
          <%= propiedad.adress.toUpperCase() %>
        </h4>
        <h3>
          <%= propiedad.city.toUpperCase() %>
        </h3>
        <p class="articulo-description-box">
          <%= propiedad.description %>
        </p>

        <div class="description-details">
          <p><i class="fa-solid fa-ruler"></i><b>Superficie Total</b>
            <%= propiedad.m2tot %> m²
          </p>
          <p><i class="fa-regular fa-square-full"></i><b>Superficie Cubierta</b>
            <%= propiedad.m2cov %> m²
          </p>
          <p><i class="fa-solid fa-door-open"></i><b>Ambientes</b>
            <%= propiedad.ambiente %>
          </p>
          <p><i class="fa-solid fa-bed"></i><b>Baños</b>
            <%= propiedad.bathroom %>
          </p>
          <p><i class="fa-solid fa-toilet"></i><b>Dormitorios</b>
            <%= propiedad.bedroom %>
          </p>
          <p><i class="fa-solid fa-car"></i><b>Coches</b>
            <%= propiedad.cars %>
          </p>
          <% if (propiedad.kitchen===1) { %>
            <p><b>Cocina</b></p>
            <% } %>
              <% if (propiedad.pool===1) { %>
                <p><b>Piscina</b></p>
                <% } %>
                  <% if (propiedad.balcony===1) { %>
                    <p><b>Balcón</b></p>
                    <% } %>
                      <% if (propiedad.grill===1) { %>
                        <p><b>Parrilla</b></p>
                        <% } %>
                          <% if (propiedad.laundry===1) { %>
                            <p><b>Lavadero</b></p>
                            <% } %>
                              <% if (propiedad.vigilance===1) { %>
                                <p><b>Vigilancia</b></p>
                                <% } %>
        </div>
      </div>

      <div class="contact-right-box">
        <p class="articulo-personalName">
          <%= propiedad.personalName %>
            <i class="<%= favoritos.includes(propiedad.id) ? 'fa-solid fa-heart' : 'fa-regular fa-heart' %>"
              data-id="<%= propiedad.id %>"></i>
        </p>
        <div class="announcer-box">
          <h4>CONTACTAR AL ANUNCIANTE</h4>
          <p><b>Email</b>
            <%= propiedad.email %>
          </p>
          <p><b>Teléfono</b>
            <%= propiedad.phoneBusiness %>
          </p>
          <% if (propiedad.contact===2) { %>
            <p><b>Teléfono personal</b>
              <%= propiedad.phonePersonal %>
            </p>
            <% } %>
        </div>
        <div class="myContact-box">
          <textarea placeholder="Deja tu mensaje (máx 100 caract.)" maxlength="100"></textarea>
          <div>
            <button><i class="fa-solid fa-phone"></i>WHATSAPP</button>
            <button><i class="fa-solid fa-envelope"></i>CORREO</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal para la imagen ampliada -->
    <div id="imageModal" class="image-modal">
      <span class="close-modal">&times;</span>
      <img class="modal-content" id="modalImage">
      <!-- Botones de navegación con íconos -->
      <button id="prevImage" class="nav-button">
        <i class="fa-solid fa-chevron-left"></i>
      </button>
      <button id="nextImage" class="nav-button">
        <i class="fa-solid fa-chevron-right"></i>
      </button>
    </div>



  </main>

  <script>
    const propiedades_type_invertido = Object.fromEntries(
      Object.entries(propiedades_type).map(([key, value]) => [value, key])
    );
  </script>
  <script src="/js/fav.js"></script>
  <script src="/js/clickHeader.js"></script>
  <script src="/js/menuBurger.js"></script>
  <script src="/js/imageModal.js"></script>
</body>

</html>