<h3 class="header-user-father-box">
  <i class="fa-solid fa-user" onclick="handleUserIconClick()"></i>
  <% if (user) { %>
    <div class="header-user">
      <p><%= user.name.toUpperCase() %></p>
      <p><%= user.email %></p>
      <span class="span-rule"></span>
      <i class="mismensajes-button fa-regular fa-message"><span class="span-i">MIS MENSAJES</span></i>
      <i class="alertas-button fa-regular fa-bell"><span class="span-i">ALERTAS</span></i>
      <i class="historial-button fa-regular fa-eye"><span class="span-i">HISTORIAL</span></i>
      <span class="span-rule"></span>
      <i class="micuenta-button fa-regular fa-address-card"><span class="span-i">MI CUENTA</span></i>
      <a class="publicar-button" href="/post1">PUBLICAR</a>
      <i class="ayuda-button fa-solid fa-user-tie"><span class="span-i">NECESITO AYUDA</span></i>
      <i id="logoutButton" class="fa-solid fa-power-off" onclick="logout()">
        <span class="span-i">CERRAR SESIÓN</span>
      </i>
    </div>
  <% } %>
  <script>
    // Pasa el estado del usuario desde el servidor al cliente
    const isUserLoggedIn = '<%= user ? "true" : "false" %>' === 'true';
  
    // Si el usuario no está logueado, redirige al login al hacer clic en el ícono
    function handleUserIconClick() {
      if (!isUserLoggedIn) {
        window.location.href = '/login';
      }
    }
  </script>
  <script>
    function logout() {
      // Mostrar la animación
      const logoutPopup = document.getElementById('logoutPopup');
      logoutPopup.style.display = 'block';
  
      // Realizar la solicitud para cerrar sesión
      fetch('/auth/logout')
        .then(response => response.json())
        .then(result => {
          if (result.success) {
            // Esperar 1.5 segundos para redirigir
            setTimeout(() => {
              window.location.href = '/';
            }, 1500);
          } else {
            alert('Error al cerrar sesión');
          }
        })
        .catch(error => {
          console.error('Error:', error);
          alert('Ocurrió un error al cerrar sesión.');
        });
    }
  </script>
  <div class="mismensajes-click">
    <p>ATRÁS<span>MIS MENSAJES</span></p>
    <div class="mensajes-scrollbox">
      <div>
        <img class="img-mensajes" src="/images/compraOptimizada.jpg">
        <div>
          <p>MARTIN ALZAGA 2190</p>
          <p>VENTA $32000</p>
          <p>VER CHAT</p>
        </div>
        <p class="fecha-mensajes">5/12/24</p>
      </div>
      <div>
        <img class="img-mensajes" src="/images/compraOptimizada.jpg">
        <div>
          <p>MARTIN ALZAGA 2190</p>
          <p>VENTA $32000</p>
          <p>VER CHAT</p>
        </div>
        <p class="fecha-mensajes">5/12/24</p>
      </div>
      <div>
        <img class="img-mensajes" src="/images/compraOptimizada.jpg">
        <div>
          <p>MARTIN ALZAGA 2190</p>
          <p>VENTA $32000</p>
          <p>VER CHAT</p>
        </div>
        <p class="fecha-mensajes">5/12/24</p>
      </div>
      <div>
        <img class="img-mensajes" src="/images/compraOptimizada.jpg">
        <div>
          <p>MARTIN ALZAGA 2190</p>
          <p>VENTA $32000</p>
          <p>VER CHAT</p>
        </div>
        <p class="fecha-mensajes">5/12/24</p>
      </div>
      <div>
        <img class="img-mensajes" src="/images/compraOptimizada.jpg">
        <div>
          <p>MARTIN ALZAGA 2190</p>
          <p>VENTA $32000</p>
          <p>VER CHAT</p>
        </div>
        <p class="fecha-mensajes">5/12/24</p>
      </div>
      <div>
        <img class="img-mensajes" src="/images/compraOptimizada.jpg">
        <div>
          <p>MARTIN ALZAGA 2190</p>
          <p>VENTA $32000</p>
          <p>VER CHAT</p>
        </div>
        <p class="fecha-mensajes">5/12/24</p>
      </div>
    </div>
  </div>
  <div class="alertas-click">
    <p>ATRÁS<span>ALERTAS</span></p>
    <div class="alertas-scrollbox">
      <div>
        <img class="img-alertas" src="/images/compraOptimizada.jpg">
        <div>
          <p>MARTIN ALZAGA 2190</p>
          <p>VENTA $32000</p>
          <p>SAN MIGUEL, BUENOS AIRES</p>
        </div>
        <p class="fecha-alertas">5/12/24</p>
      </div>
      <div>
        <img class="img-alertas" src="/images/compraOptimizada.jpg">
        <div>
          <p>MARTIN ALZAGA 2190</p>
          <p>VENTA $32000</p>
          <p>SAN MIGUEL, BUENOS AIRES</p>
        </div>
        <p class="fecha-alertas">5/12/24</p>
      </div>
      <div>
        <img class="img-alertas" src="/images/compraOptimizada.jpg">
        <div>
          <p>MARTIN ALZAGA 2190</p>
          <p>VENTA $32000</p>
          <p>SAN MIGUEL, BUENOS AIRES</p>
        </div>
        <p class="fecha-alertas">5/12/24</p>
      </div>
      <div>
        <img class="img-alertas" src="/images/compraOptimizada.jpg">
        <div>
          <p>MARTIN ALZAGA 2190</p>
          <p>VENTA $32000</p>
          <p>SAN MIGUEL, BUENOS AIRES</p>
        </div>
        <p class="fecha-alertas">5/12/24</p>
      </div>
      <div>
        <img class="img-alertas" src="/images/compraOptimizada.jpg">
        <div>
          <p>MARTIN ALZAGA 2190</p>
          <p>VENTA $32000</p>
          <p>SAN MIGUEL, BUENOS AIRES</p>
        </div>
        <p class="fecha-alertas">5/12/24</p>
      </div>
      <div>
        <img class="img-alertas" src="/images/compraOptimizada.jpg">
        <div>
          <p>MARTIN ALZAGA 2190</p>
          <p>VENTA $32000</p>
          <p>SAN MIGUEL, BUENOS AIRES</p>
        </div>
        <p class="fecha-alertas">5/12/24</p>
      </div>
    </div>
  </div>
  <div class="historial-click">
    <p>ATRÁS<span>HISTORIAL</span></p>
    <div class="historial-scrollbox">
      <div>
        <img class="img-historial" src="/images/compraOptimizada.jpg">
        <div>
          <p>MARTIN ALZAGA 2190</p>
          <p>VENTA $32000</p>
          <p>SAN MIGUEL, BUENOS AIRES</p>
        </div>
        <p class="fecha-historial">5/12/24</p>
      </div>
      <div>
        <img class="img-historial" src="/images/compraOptimizada.jpg">
        <div>
          <p>MARTIN ALZAGA 2190</p>
          <p>VENTA $32000</p>
          <p>SAN MIGUEL, BUENOS AIRES</p>
        </div>
        <p class="fecha-historial">5/12/24</p>
      </div>
      <div>
        <img class="img-historial" src="/images/compraOptimizada.jpg">
        <div>
          <p>MARTIN ALZAGA 2190</p>
          <p>VENTA $32000</p>
          <p>SAN MIGUEL, BUENOS AIRES</p>
        </div>
        <p class="fecha-historial">5/12/24</p>
      </div>
      <div>
        <img class="img-historial" src="/images/compraOptimizada.jpg">
        <div>
          <p>MARTIN ALZAGA 2190</p>
          <p>VENTA $32000</p>
          <p>SAN MIGUEL, BUENOS AIRES</p>
        </div>
        <p class="fecha-historial">5/12/24</p>
      </div>
      <div>
        <img class="img-historial" src="/images/compraOptimizada.jpg">
        <div>
          <p>MARTIN ALZAGA 2190</p>
          <p>VENTA $32000</p>
          <p>SAN MIGUEL, BUENOS AIRES</p>
        </div>
        <p class="fecha-historial">5/12/24</p>
      </div>
      <div>
        <img class="img-historial" src="/images/compraOptimizada.jpg">
        <div>
          <p>MARTIN ALZAGA 2190</p>
          <p>VENTA $32000</p>
          <p>SAN MIGUEL, BUENOS AIRES</p>
        </div>
        <p class="fecha-historial">5/12/24</p>
      </div>
    </div>
  </div>
  <% if (user) { %>
    <div class="micuenta-click">
      <p>ATRÁS<span>MI CUENTA</span></p>
      <p>PERSONALES</p>
      <div>
        <input placeholder="Nombre" value="<%= user.name %>"></input>
        <input placeholder="DNI" value="<%= user.dni || '' %>"></input>
      </div>
      <p>CONTACTO</p>
      <p>Datos para que podamos enviarte información, ofertas y si publicaste un aviso, para que te contacten.</p>
      <p><%= user.email %></p>
      <div>
        <div>
          <p>TELEFONO</p>
          <input placeholder="+5444551234" value="<%= user.phone || '' %>"></input>
        </div>
        <div>
          <p>CELULAR</p>
          <input placeholder="+541141705252" value="<%= user.cellphone || '' %>"></input>
        </div>
      </div>
    </div>
  <% } %>
  <div class="ayuda-click">
    <p>ATRÁS<span>NECESITO AYUDA</span></p>
    <p>CONTÁCTANOS</p>
    <p>11445566789</p>
    <p>44556789</p>
    <p>keytodream@gmail.com</p>
    <p>Envíanos un mensaje para que podamos contactarte.</p>
    <p>ATENDEMOS DE LUNES A VIERNES ENTRE LAS 08:00 Y 17:00.</p>
    <p>CHAT CON SOPORTE AQUI</p>
  </div>
  <div id="logoutPopup" class="ventana-logout">
    <div class="mensaje-logout-progress">
      <img src="/images/favicon.jpg">
      <p>KEY TO DREAM</p>
    </div>
    <p>Cerrando sesión...</p>
    <div class="progress-bar">
      <div class="progress"></div>
    </div>
  </div>
</h3>